body {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #ddd;
}
        
.grid-container {
display: grid;
gap: 10px;
grid-template-columns: repeat(15, 1fr);
grid-template-rows: repeat(15, 1fr);
grid-template-areas: 
  'b1 b2 b2 b2 b2 b2 b2 b3 b3 b3 b3 b3 b3 b4 j1'
  'b1 g1 g1 g1 g1 g1 g1 b5 b5 g2 g2 g2 g2 b4 j1'
  'b1 g1 g1 g1 g1 g1 g1 b5 b5 g2 g2 g2 g2 b4 j1'
  'n1 b6 b6 n2 b7 b7 b8 j2 j2 r1 r1 r1 r2 b4 j1'
  'n1 b6 b6 n2 b7 b7 b8 j2 j2 r1 r1 r1 r2 b4 j1'
  'n1 b6 b6 n2 b7 b7 b8 j2 j2 r1 r1 r1 r2 b4 j1'
  'n1 b6 b6 n2 b7 b7 b8 j2 j2 r1 r1 r1 r2 b4 j1'
  'n1 b6 b6 n2 b7 b7 b8 j2 j2 r1 r1 r1 r2 b4 j1'
  'n1 b9 b9 n2 j3 r3 r3 g3 g3 b10 b10 b10 n3 n3 n3'
  'n1 b9 b9 n2 j3 r3 r3 g3 g3 b10 b10 b10 n3 n3 n3'
  'b12 r4 r4 n2 j4 b13 b13 b13 b14 b14 g4 g4 j5 b11 b11'
  'b12 r4 r4 n2 j4 b13 b13 b13 b14 b14 g4 g4 j5 b11 b11'
  'b12 r4 r4 n2 j4 b13 b13 b13 b14 b14 g4 g4 j5 b11 b11'
  'b12 r4 r4 n2 j4 r5 r5 n4 n4 n4 b15 b15 b15 b15 b15'
  'b16 b16 b16 b16 j4 r5 r5 n4 n4 n4 b15 b15 b15 b15 b15';
width: 650px;
height: 650px;
background-color: black;
padding: 10px;
box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.b1 { background-color: white; grid-area: b1; }
.b2 { background-color: white; grid-area: b2; }
.b3 { background-color: white; grid-area: b3; }
.b4 { background-color: white; grid-area: b4; }
.b5 { background-color: white; grid-area: b5; }
.b6 { background-color: white; grid-area: b6; }
.b7 { background-color: white; grid-area: b7; }
.b8 { background-color: white; grid-area: b8; }
.b9 { background-color: white; grid-area: b9; }
.b10 { background-color: white; grid-area: b10; }
.b11 { background-color: white; grid-area: b11; } 
.b12 { background-color: white; grid-area: b12; }
.b13 { background-color: white; grid-area: b13; }
.b14 { background-color: white; grid-area: b14; }
.b15 { background-color: white; grid-area: b15; }
.b16 { background-color: white; grid-area: b16; }
        

.g1 { background-color: #1F3A93; grid-area: g1; }
.g2 { background-color: #1F3A93; grid-area: g2; }
.g3 { background-color: #1F3A93; grid-area: g3; }
.g4 { background-color: #1F3A93; grid-area: g4; }
     

.r1 { background-color: #D32F2F; grid-area: r1; }
.r2 { background-color: #D32F2F; grid-area: r2; }
.r3 { background-color: #D32F2F; grid-area: r3; }
.r4 { background-color: #D32F2F; grid-area: r4; }
.r5 { background-color: #D32F2F; grid-area: r5; }
        

.j1 { background-color: #FFC107; grid-area: j1; }
.j2 { background-color: #FFC107; grid-area: j2; }
.j3 { background-color: #FFC107; grid-area: j3; }
.j4 { background-color: #FFC107; grid-area: j4; }
.j5 { background-color: #FFC107; grid-area: j5; }
        
.n1 { background-color: #1A1A1A; grid-area: n1; }
.n2 { background-color: #1A1A1A; grid-area: n2; }
.n3 { background-color: #1A1A1A; grid-area: n3; }
.n4 { background-color: #1A1A1A; grid-area: n4; }